# Stèle

Sous un amat de branches feuillues dans la jungle, vous trouvez un monument monolithe sur lequel il y a un tableau de lettres et de chiffres:

In [1]:
from IPython.display import display
from backend import df

display(df)
print("code = tableau[2, 1:6]")

   0  1  2  3  4  5  6  7  8  9
0  5  7  u  2  A  6  m  X  e  K
1  M  C  K  D  F  n  7  6  N  Z
2  3  a  Y  9  b  N  4  h  4  P
3  2  J  K  D  3  m  Q  8  7  2
4  u  5  p  7  V  G  G  p  Y  2
5  M  g  v  W  7  w  6  S  q  8

code = tableau[2, 1:6]

Cette stèle semble cachée un secret, mais vu la nature aléatoire de ces caractères, vous ne savez pas comment parvenir à la déchiffrer. L'indice sous le tableau de caractères attire votre oeil... (**exécutez** la cellule ci-dessous, puis entrer votre solution dans la case prévue à cet effet):

In [ ]:
from backend import decode_stele

decode_stele()