# Pyolite - A Python kernel backed by Pyodide

![](https://raw.githubusercontent.com/pyodide/pyodide/master/docs/_static/img/pyodide-logo.png)

In [ ]:
import pyolite
pyolite.__version__

# Simple code execution

In [ ]:
a = 3

In [ ]:
a

In [ ]:
b = 89

def sq(x):
    return x * x

sq(b)

In [ ]:
print

# Redirected streams

In [ ]:
import sys

print("Error !!", file=sys.stderr)

# Error handling

In [ ]:
"Hello"

def dummy_function():
    import missing_module

In [ ]:
dummy_function()

# Code completion

### press `tab` to see what is available in `sys` module

In [ ]:
from sys import

# Code inspection

### using the question mark

In [ ]:
?print

### by pressing `shift+tab`

In [ ]:
print(

# Input support

In [ ]:
name = await input('Enter your name: ')

In [ ]:
'Hello, ' + name

# Rich representation

In [ ]:
from IPython.display import display, Markdown, HTML, JSON, Latex

## HTML

In [ ]:
print('Before display')

s = '<h1>HTML Title</h1>'
display(HTML(s))

print('After display')

## Markdown

In [ ]:
Markdown('''
# Title

**in bold**

~~Strikthrough~~
''')

## Pandas DataFrame

In [1]:
import pandas as pd
import numpy as np
from string import ascii_uppercase as letters
from IPython.display import display

df = pd.DataFrame(np.random.randint(0, 100, size=(100, len(letters))), columns=list(letters))
df

,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
0,39,84,51,85,57,47,30,75,86,6,...,89,88,0,54,56,95,44,65,77,63
1,43,87,20,9,26,87,83,35,67,58,...,94,56,46,54,76,79,76,22,94,72
2,72,70,13,4,43,75,45,94,21,9,...,15,38,24,17,48,84,71,51,68,11
3,16,56,34,36,18,21,71,58,5,5,...,89,26,61,88,12,55,99,25,79,58
4,63,83,61,11,49,89,33,7,95,48,...,8,37,33,54,59,9,48,19,94,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,47,57,43,12,6,18,3,1,55,87,...,77,91,54,55,93,67,65,40,28,93
96,85,47,32,87,24,85,2,23,17,41,...,29,69,75,63,81,25,89,0,86,73
97,15,34,98,42,27,98,94,77,75,89,...,87,32,55,70,78,89,81,50,27,1
98,7,54,64,61,51,88,4,5,66,53,...,45,0,66,19,25,93,56,96,72,93
99,10,89,96,44,52,26,2,34,62,74,...,75,14,26,78,60,96,56,13,32,32

### Show the same DataFrame

In [ ]:
df

## IPython.display module

In [ ]:
from IPython.display import clear_output, display, update_display
from asyncio import sleep

### Update display

In [ ]:
class Square:
    color = 'PeachPuff'
    def _repr_html_(self):
        return '''
        <div style="background: %s; width: 200px; height: 100px; border-radius: 10px;">
        </div>''' % self.color
square = Square()

display(square, display_id='some-square')

In [ ]:
square.color = 'OliveDrab'
update_display(square, display_id='some-square')

### Clear output

In [ ]:
print("hello")
await sleep(3)
clear_output()             # will flicker when replacing "hello" with "goodbye"
print("goodbye")

In [ ]:
print("hello")
await sleep(3)
clear_output(wait=True)   # prevents flickering
print("goodbye")

### Display classes

In [ ]:
from IPython.display import HTML
HTML('''
        <div style="background: aliceblue; width: 200px; height: 100px; border-radius: 10px;">
        </div>''')

In [ ]:
from IPython.display import Math
Math(r'F(k) = \int_{-\infty}^{\infty} f(x) e^{2\pi i k} dx')

In [ ]:
from IPython.display import Latex
Latex(r"""\begin{eqnarray}
\nabla \times \vec{\mathbf{B}} -\, \frac1c\, \frac{\partial\vec{\mathbf{E}}}{\partial t} & = \frac{4\pi}{c}\vec{\mathbf{j}} \\
\nabla \cdot \vec{\mathbf{E}} & = 4 \pi \rho \\
\nabla \times \vec{\mathbf{E}}\, +\, \frac1c\, \frac{\partial\vec{\mathbf{B}}}{\partial t} & = \vec{\mathbf{0}} \\
\nabla \cdot \vec{\mathbf{B}} & = 0 
\end{eqnarray}""")

In [ ]:
from IPython.display import ProgressBar

for i in ProgressBar(10):
    await sleep(0.1)

In [ ]:
from IPython.display import JSON
JSON(['foo', {'bar': ('baz', None, 1.0, 2)}], metadata={}, expanded=True, root='test')

In [ ]:
from IPython.display import GeoJSON
GeoJSON(
  data={
      "type": "Feature",
      "geometry": {
          "type": "Point",
          "coordinates": [11.8, -45.04]
      }
  }, url_template="http://s3-eu-west-1.amazonaws.com/whereonmars.cartodb.net/{basemap_id}/{z}/{x}/{y}.png",
  layer_options={
      "basemap_id": "celestia_mars-shaded-16k_global",
      "attribution" : "Celestia/praesepe",
      "tms": True,
      "minZoom" : 0,
      "maxZoom" : 5
  }
)

## Network requests and JSON

In [ ]:
import json
from js import fetch

In [ ]:
res = await fetch('https://httpbin.org/get')
text = await res.text()
obj = json.loads(text) 
JSON(obj)

## Sympy

In [ ]:
from sympy import Integral, sqrt, symbols, init_printing

init_printing()

x = symbols('x')

Integral(sqrt(1 / x), x)

## Magics

In [ ]:
import os
os.listdir()

In [ ]:
%cd /home

In [ ]:
%pwd

In [ ]:
current_path = %pwd
print(current_path)

In [ ]:
%%writefile test.txt

This will create a new file. 
With the text that you see here.

In [ ]:
%history

In [ ]:
import time

In [ ]:
%%timeit 

time.sleep(0.1)